.header {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header h1 {
    font-size: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header a {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 50px;
}

.floating {
    box-shadow: var(--mdc-theme--box-shadow--floating);
    background: var(--mdc-search-bg);
}

.drawer {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .drawer {
        transform: translateX(-100%);
        z-index: 100 !important;
    }

    .appName {
        display: none;
    }

    .menuIcon {
        display: block;
        margin-left: 10px;
    }

    .drawerCloseContainer {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 100vw;
        display: none;
    }

    .drawerContent {
        position: relative;
        z-index: 2;
    }

    .container {
        position: relative;
    }

    .drawerCloseContainer.visible {
        display: block;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .drawer {
        top: 64px !important;
    }
}

@media screen and (max-width: 769px) {
    .drawer {
        top: 64px !important;
    }
}
